.wrapper
  .chat-main
    -# 右側チャットメイン画面のグループ名部分
    .main-header
      .current-group
        %h2.current-group__name sample
        %ul.current-group__member-list 
          Member：
          %li.current-group__member-list__member seo neko
      %a{href:'/groups/id/edit'}
        .main-header__edit-btn Edit
    .messages
    .form

