// 左側サイドバー画面
.chat-side{
  width: 300px;
  color: white;
  float: left;
  .side-header{
    background-color: #253141;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    font-weight: bold;
    &__user-menu{
      display: flex;
      text-decoration: none;
      &__edit-user{
        margin-left: 0.3rem;
      }
      &__new-group{
        margin-left: 0.3rem;
      }
      .fa-white:before{
        color: white;
      }
    }
  }
  .groups{
      background-color: #2f3e51;
      padding: 20px 20px 0;
      height: calc(100vh - 100px);
      overflow: scroll;
      .group{
        margin-bottom: 40px;
        &__group-name{
          color: white;
          margin-bottom: 5px;
          font-size: 15px;
        }
        &__latest-message{
          color: white;
          font-size: 11px;
        }
      }
  }
}
